:root {
  --primary-color: rgb(58, 124, 166);
  --secondary-color: rgb(255, 255, 255);
  --on-primary: rgb(248, 187, 215, 0.6);
}

@import url("https://fonts.googleapis.com/css?family=Spectral");

html {
  scroll-behavior: smooth !important;
}

body {
  /* color: var(--primary-color); */
  font-family: "Spectral";
  font-size: large;
  line-height: 1.8rem;
}

#section-title {
  padding-bottom: 3rem;
}

#map-background {
  background: url(./icons/krzysztof-hepner-TH7TW20de9s-unsplash.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 130rem;
  height: 15rem;
  margin: 0;
  padding: 0;
  opacity: 40%;
  background-color: rgba(58, 124, 166, 0.5);
  background-blend-mode: multiply;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: rgb(126, 126, 126);
  font-size: 2rem;
  margin: 1rem 5rem 1rem 5rem;
}

.nav-link:hover {
  color: var(--primary-color);
  border: none;
  border-bottom: 1px solid var(--primary-color);
  /* transition-duration: 300ms; */
}

.background-primary-color {
  background-color: var(--secondary-color);
}

/* Home Banner */

#homepage-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3rem 5rem 3rem 5rem;
  border: 0.2rem solid rgb(206, 207, 207);
}

#home-banner {
  background-color: rgb(202, 180, 156);
  background-image: linear-gradient(
    to right,
    rgb(202, 180, 156),
    var(--primary-color) 65%
  );

  color: white;
  padding: 5rem 2rem 5rem 2rem;
  margin: none;
  text-align: center;
}

#banner-text-col {
  padding-top: 3rem;
  padding-right: 5rem;
}

#home-banner h1 {
  font-size: 5rem;
}

#profile-image-homepage-col {
  text-align: center;
}

#profile-image-homepage {
  justify-content: center;
  width: 25rem;
  height: 30rem;
  max-width: 100%;
  height: auto;
  border: 0.5rem solid var(--primary-color);
}

/* About Me */
#about-me-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 70rem;
}

/* Resume */
#resume-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 85rem;
}

#button-col {
  text-align: center;
  padding-top: 3rem;
}

#resume-button {
  background-color: transparent;
  color: black;
  border: 0.3rem solid var(--primary-color);
  padding: 0.5rem 1.5rem;
}

#resume-button:hover {
  background-color: var(--primary-color);
  color: white;
  transition-duration: 600ms;
}

#work-logos {
  width: 15rem;
  height: 20rem;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ga-logo {
  width: 10rem;
  height: 15rem;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#uw-logo {
  width: 11rem;
  height: 16rem;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Rio Grande Food Project */

#food-project-container {
  padding: 5rem 5rem 5rem 5rem;
  background-color: var(--primary-color);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    rgb(202, 180, 156) 95%
  );
  color: white;
}

#food-project-container h3 {
  padding-bottom: 3rem;
}

#donate-button-col {
  text-align: center;
  /* padding-top: 5rem; */
}

/* #videoWrapper {
  position: relative;
	padding-bottom: 5rem;
	padding-top: 1.5rem;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */

#food-project-video {
  width: 33rem;
  height: 18rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#donate-button {
  background-color: var(--primary-color);
  color: white;
  border: 0.3rem solid var(--primary-color);
  padding: 0.2rem 1.2rem;
  margin-top: 1rem;
}

#donate-button:hover {
  background-color: transparent;
  color: black;
  transition-duration: 600ms;
}

/* Laundry Love */

#laundry-love-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 0.5rem solid var(--primary-color);
  padding: 5rem;
  background: white;
  color: black;
}

#washing-machine-image-col {
  padding: 0;
}

#washing-machine-image {
  width: 23rem;
  height: 30rem;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#laundry-love-logo {
  padding-top: 3rem;
  width: 25rem;
  height: 30rem;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* World Race */

#world-race-photo {
  width: 40rem;
  height: 45rem;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Education */

#education-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#unm-background {
  background: url(./icons/unm-logo.gif) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 60rem;
  height: 40rem;
}

#unm-text {
  padding-top: 15rem;
  padding-bottom: 15rem;
  background-color: rgba(255, 255, 255, 0.8);
}

#sfcc-background {
  background: url(./icons/sfcc-logo.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 45rem;
  height: 40rem;
}

#sfcc-text {
  padding-top: 15rem;
  padding-bottom: 20rem;
  background-color: rgba(255, 255, 255, 0.7);
}

#contact-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#contact {
  text-align: center;
}

/* Mobile Responsive Media Queries */
@media (max-width: 978px) {

  #banner-text-col{
    padding-right:0;
  }

  #map-background {
    height: 8rem;
  }

  #work-logos,
  #ga-logo,
  #uw-logo {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  #food-project-container {
    padding: 4rem 2rem 4rem 2rem;
  }

  #donate-button-col {
    padding: 0;
  }

  #food-project-video {
    width: 21rem;
    height: 10rem;
  }

  #laundry-love-container {
    padding: 4rem 1rem 4rem 1rem;
  }

  #washing-machine-image {
    width: 13rem;
    height: 20rem;
    margin-top: 2rem;
    padding: 0;
  }
}
