:root {
  --primary-color: rgb(58, 124, 166);
  --secondary-color: rgb(255, 255, 255);
  --on-primary: rgb(248, 187, 215, 0.6);
}

@import url("https://fonts.googleapis.com/css?family=Spectral");

html {
  scroll-behavior: smooth !important;
}

body {
  /* color: var(--primary-color); */
  font-family: "Spectral";
  font-size: large;
  line-height: 1.8rem;
}


/* Navbar */

.navbar {
  display:flex;
  flex-direction:column;
}

.nav-link {
  color: rgb(126, 126, 126);
  font-size: 2rem;
  margin: 1rem 5rem 1rem 5rem;
}

.nav-link:hover {
  color: var(--primary-color);
  border: none;
  border-bottom: 1px solid var(--primary-color);
  /* transition-duration: 300ms; */
}

.background-primary-color {
  background-color: var(--secondary-color);
}

#homepage-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3rem 5rem 3rem 5rem;
  border: 0.2rem solid rgb(206, 207, 207);
}


/* Home Banner */

#home-banner {
  background-color: rgb(231,230,228);
  background-image: 
    linear-gradient(
      to right,
      rgb(231,230,228),
      var(--primary-color) 65%
    );

  color: white;
  padding: 5rem 2rem 5rem 2rem;
  margin: none;
  text-align: center;
}

#banner-text-col p {
  padding-top: 8.5rem;
}

#home-banner h1 {
  font-size: 5rem;
}

#profile-image-homepage-col {
  text-align: center;
}

#profile-image-homepage {
  justify-content: center;
  width: 25rem;
  height: 30rem;
  max-width: 100%;
  height: auto;
  border: 0.5rem solid var(--primary-color);
}


/* About Me */
#about-me-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 70rem;
}


/* Resume */
#resume-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 85rem;
}

#button-col {
  text-align: center;
  padding-top: 3rem;
}

#resume-button {
  background-color: transparent;
  color: black;
  border: 0.3rem solid var(--primary-color);
  padding: 0.5rem 1.5rem;
}

#resume-button:hover {
  background-color: var(--primary-color);
  color: white;
  transition-duration: 600ms;
}

#work-logos {
  align-items: end;
  width: 15rem;
  height: 20rem;
  max-width: 100%;
  height: auto;
}

#contact {
  text-align: center;
}