:root {
  --primary-color: rgb(248,187,215);
  --secondary-color: rgb(255, 255, 255);
  --on-primary: rgb(248,187,215, 0.6);
}

@import url('https://fonts.googleapis.com/css?family=Spectral');

html {
  scroll-behavior: smooth !important;
}

body {
  /* color: var(--primary-color); */
  font-family: 'Spectral';
}

/* hr {
  background-color: var(--primary-color);
  top: .25rem;
  height: .25rem;
  border: none;
} */

.background-primary-color {
  background-color: var(--secondary-color);
}

/* Home Banner */

#home-banner {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 3rem 0rem 3rem 0rem;
  text-align: center;
}

/* .basic-navbar-nav {
  max-width: 50%;
} */

nav-link:hover {
  color: var(--primary-color);
}

/* About Me */
#about-me-container { 
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#profile-image-col {
  text-align: center;
}

#profile-image {
  width: 17.5rem;
  height: 22.5rem;
  max-width: 100%;
  height: auto;
}